<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">

      <img src="../../assets/step0002.png" width="25%" />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Galeria">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#signup">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <img src="../../assets/step0002.png" />
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!--<h2 class="text-white mb-4">Nosotros</h2>
        <p class="text-white-50">
          En Hachi Estudio nos encargamos de diseñar espacios que funcionan otorgando el estilo que mejor lo defina.
          <br />
          Nuestro compromiso es ofrecer los mejores productos utilizando maderas seleccionadas de primera calidad. Hachi Estudio, somos expertos en el desarrollo de sus proyectos residenciales y comerciales.
        </p>-->
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light animated fadeIn">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">

      <div class="col-xl-6 col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white text-justify">Nosotros</h4>
              <p class="mb-0 text-white-50 text-justify">
                En Hachi Estudio nos encargamos de diseñar espacios que funcionan otorgando el estilo que mejor lo defina.
                Nuestro compromiso es ofrecer los mejores productos utilizando maderas seleccionadas de primera calidad.
                Hachi Estudio, somos expertos en el desarrollo de sus proyectos residenciales y comerciales.
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
              <img class="waves" src="../../assets/waves.png">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <img class="img-fluid mb-3 mb-lg-0" src="../../assets/asset2.jpg" alt="">
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="../../assets/asset4.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white text-justify">Visión</h4>
              <p class="mb-0 text-white-50  text-justify">
                Satisfacer las necesidades de nuestros clientes superando sus expectativas, fabricar muebles sobre diseño. Contamos con el equipo, personal capacitado, para satisfacer a nuestros clientes en, tiempo, costo y calidad.
                Continuar creciendo y ser recomendados y reconocidos gracias a las experiencias de clientes satisfechos.
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
              <img class="waves" src="../../assets/waves.png">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="../../assets/asset3.jpg" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100"> 
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white text-justify">Misión</h4>
              <p class="mb-0 text-white-50 text-justify">Ser una empresa líder en la transformación de espacios, otorgando siempre el mejor diseño en cada detalle, dando un buen servicio junto con la calidad de nuestros productos. </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
              <img class="waves" src="../../assets/waves.png">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Signup Section -->
<section id="Galeria" class="bg-light">
  <div class="container gallery-container">

    <h1>Galeria</h1>

    <!--<p class="page-description text-center">Simplemente lo mejor</p> -->
    
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-12 col-md-4 image-box">
                <a class="lightbox" href="assets/img/foto7.PNG">
                    <img src="assets/img/foto7.PNG" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 image-box">
                <a class="lightbox" href="assets/img/foto6.PNG">
                    <img src="assets/img/foto6.PNG" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 image-box">
                <a class="lightbox" href="assets/img/foto5.PNG">
                    <img src="assets/img/foto5.PNG" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-12 col-md-8 image-box">
                <a class="lightbox" href="assets/img/foto4.PNG">
                    <img src="assets/img/foto4.PNG" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 image-box">
                <a class="lightbox" href="assets/img/foto2.PNG">
                    <img src="assets/img/foto2.PNG" alt="Coast">
                </a>
            </div> 
            <div class="col-sm-6 col-md-4 image-box">
                <a class="lightbox" href="assets/img/foto1.PNG">
                    <img src="assets/img/foto1.PNG" alt="Rails">
                </a>
            </div>
            <div class="col-sm-6 col-md-4 image-box">
              <a class="lightbox" href="assets/img/foto8.PNG">
                  <img src="assets/img/foto8.PNG" alt="Rails">
              </a>
          </div>
          <div class="col-sm-6 col-md-4 image-box">
            <a class="lightbox" href="assets/img/foto9.PNG">
                <img src="assets/img/foto9.PNG" alt="Rails">
            </a>
        </div>

        </div>

    </div>

</div>
 
</section>

<section class="signup-section"></section>
<!-- Contact Section -->
<section class="contact-section bg-black" id="signup">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-3 mb-md-0 animated fadeIn">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fab fa-facebook-f text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Facebook</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="https://www.facebook.com/HachiEstudioCUU/">
                /HachiEstudioCUU
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0 animated fadeIn">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50"> 
              <a href="#">proyectos@hachiestudio.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0 animated fadeIn">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Telefono</h4>
            <hr class="my-4">
            <div class="small text-black-50">(614) 220-1546</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
