
  <h1>Acerca de...</h1>
  <!-- Project One Row -->
  <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
      <img class="img-fluid" src="../../../assets/img/about-img-1.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">Nosotros</h4>
            <p class="mb-0 text-white-50">  En Hachi Estudio nos encargamos de diseñar espacios que funcionan otorgando el estilo que mejor lo defina.
                Nuestro compromiso es ofrecer los mejores productos utilizando maderas seleccionadas de primera calidad.
                Hachi Estudio, somos expertos en el desarrollo de sus proyectos residenciales y comerciales.</p>
            <hr class="d-none d-lg-block mb-0 ml-0">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Project Two Row -->
  <div class="row justify-content-center no-gutters">
    <div class="col-lg-6">
      <img class="img-fluid" src="../../../assets/img/about-img-2.jpg" alt="">
    </div>
    <div class="col-lg-6 order-lg-first">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-right">
            <h4 class="text-white">Visión</h4>
            <p class="mb-0 text-white-50">Satisfacer las necesidades de nuestros clientes superando sus expectativas, fabricar muebles sobre diseño. Contamos con el equipo, personal capacitado, para satisfacer a nuestros clientes en, tiempo, costo y calidad.
                Continuar creciendo y ser recomendados y reconocidos gracias a las experiencias de clientes satisfechos.</p>
            <hr class="d-none d-lg-block mb-0 mr-0">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="../../../assets/img/about-img-4.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Misión</h4>
              <p class="mb-0 text-white-50">  Ser una empresa líder en la transformación de espacios, otorgando siempre el mejor diseño en cada detalle, dando un buen servicio junto con la calidad de nuestros productos. </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
  </div>
