
<app-navbar></app-navbar>
<app-header></app-header>

<!-- About Section -->
<section id="about" class="projects-section bg-light fadeIn">
    <div class="container">
      <app-about></app-about>
    </div>
</section>

<!-- Gallery Section -->
<section id="gallery" class="gallery-section bg-light">
    <div class="container gallery-container">
      <app-gallery></app-gallery>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section bg-black fadeIn">
    <div class="container">
      <app-contacto></app-contacto>
    </div>
</section>

<app-footer></app-footer>
