<h1>Nuestros Trabajos</h1>

<p class="page-description text-center">Galeria</p>

<div class="tz-gallery">

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto9.PNG">
                <img src="../../../assets/img/gallery/foto9.PNG" alt="Park">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto1.PNG">
                <img src="../../../assets/img/gallery/foto1.PNG" alt="Bridge">
            </a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto2.PNG">
                <img src="../../../assets/img/gallery/foto2.PNG" alt="Tunnel">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto3.PNG">
                <img src="../../../assets/img/gallery/foto3.PNG" alt="Coast">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto4.PNG">
                <img src="../../../assets/img/gallery/foto4.PNG" alt="Rails">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto5.PNG">
                <img src="../../../assets/img/gallery/foto5.PNG" alt="Traffic">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto6.PNG">
                <img src="../../../assets/img/gallery/foto6.PNG" alt="Rocks">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto7.PNG">
                <img src="../../../assets/img/gallery/foto2.PNG" alt="Benches">
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="../../../assets/img/gallery/foto8.PNG">
                <img src="../../../assets/img/gallery/foto8.PNG" alt="Sky">
            </a>
        </div>
    </div>

</div>

