<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">
        <img src="../assets/img/Logo 6.png"/>
      </a>
      <a href="javascript:void(0)" class="simple-text logo-normal">
        Hashi
      </a>
    </div>
    <ul class="nav">
      <li class="active ">
        <a href="">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="tim-icons icon-single-02"></i>
          <p>Usuarios</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="tim-icons icon-paper"></i>
          <p>Proyectos</p>
        </a>
      </li>

    </ul>
  </div>
</div>
